.sidebar-adjuster {
  /* position: relative !important; */
  /* position: relative; */
  /* top: 50%;
  transform: translateY(2%); */
  margin-top: 65px;
  border-radius: 0px 24px 24px 0px;
  /* z-index: 0; */
}

.white-calculate {
  display: none !important;
  /* top: 190px;
  border-bottom-right-radius: 0px; */
}

.menu-item.menu-link.active b:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: #4d5bf9;
}
.white-calculate::before {
  content: '';
  position: absolute;
  background-color: #eff2f5;
  top: 65px;
  left: 241px;
  height: 30px;
  width: 25px;
  /* border-top-right-radius: 90px; */
  /* border-left-color: transparent;
  border-right-color: transparent; */
  /* clip-path: polygon(50% at center); */
  /* clip-path: polygon(90% 0%, 100% 0, 100% 100%, 100% 100%, 66% 35%, 0% 0%); */
}
.defi-base-button {
  background: #ffbf18;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
div [side-bg] {
  background-image: attr(side-bg);
  position: relative;
}
.defi-text h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #2d294e;
}
