.checkout-box-wrapper {
  top: 95px;
  left: 450px;
  width: 550px;
  height: 567px;
  justify-content: center;
  /* margin-right: 415px; */
  position: absolute;
  /* background: #ffffff; */
}

.main-btn {
  background: #FFBF18;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
