.invoice-analysis-h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* display: flex;
  align-items: center; */
  color: #2d294e;
  /* position: absolute; */
}
.invoice-analysis-h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #2d294e;
  /* position: absolute; */
  margin-top: 40px;
}
.dfc-amount {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: #2d294e;
  /* margin-top: 65px; */
}
.separator-analysis {
  width: 225px;
  height: 0px;
  display: block;
  border: 3px solid rgba(229, 229, 229, 0.5);
}

.top-part {
  height: 80px;
  border-bottom: 3px solid rgb(179, 175, 175);
}

.status-section {
  border-top: 1px solid rgb(179, 175, 175);
}

.status-section p {
  font-weight: 300 !important;
}

.invoice-type {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #2d2558;
}
.invoice-type-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}
