.gdb-format-d-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-top: -19px;
  color: rgba(45, 41, 78, 0.55);
}
