.experience-bg {
  background: #f5f5f5;
  position: absolute;
}
.experience-text-wrapper {
  padding-top: -90;
}
.experience-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  color: #2d294e;
}
.section2 {
  padding-top: 200px;
  padding-bottom: 250px;
  position: relative;
}
.experience-description {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(45, 41, 78, 0.8);
}
.preview-galley-v3 {
  position: relative;
  z-index: 1;
  text-align: center;
}

.you-box {
  width: 264px;
  height: 268px;
  background: #ffffff;
  box-shadow: 7px 8px 20px 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  z-index: 3;
}

.customer-box {
  width: 264px;
  height: 268px;
  background: #ffffff;
  box-shadow: 7px 8px 20px 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  /* left: -150px; */
  z-index: 3;
}

.defi-layer-wrapper .customer-box {
  position: absolute;
}
.box-label {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #263238;
}
.box-label-left {
  position: relative;
  top: -80px;
}
.box-label-right {
  position: relative;
  left: -80px;
  top: 30px;
}

.box-image {
  position: relative;
  width: 216px;
  height: 192px;
  left: -20px;
  top: 35px;
  /* margin-left: -2px;
  margin-top: 55px; */
}

.animate-float-bob-y {
  -webkit-animation-name: float-bob-y;
  animation-name: float-bob-y;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /*margin-left: 30px;*/
  margin-top: 5px;
}

@keyframes animate-float-bob-y {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.swing {
  transform-origin: top center;
  animation: swing 3s ease infinite;
}
@keyframes swing {
  20% { transform: rotate(15deg); }
  40% { transform: rotate(-10deg); }
  60% { transform: rotate(5deg); }
  80% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.defi-layer-wrapper .defi-layer-1 {
  position: absolute;
}
.defi-layer-1 {
  position: absolute;
  width: 119px;
  height: 90px;
  left: 260px;
  bottom: 124px;
  /* left: 862px;
  top: 2324px; */
  background: #ffbf18;
  border-radius: 20px;
  z-index: 4;
}
.defi-layer-2 {
  position: absolute;
  width: 112px;
  height: 85px;
  /* left: 886px;
  top: 2350px; */
  background: #312d71;
  border-radius: 20px;
}

@media(max-width: 991px) {
  .experience-title {
    font-size: 20px;
    letter-spacing: 0;
  }
}

@media(max-width: 426px) {
  .experience-title {
    font-size: 20px;
    letter-spacing: 0;
  }
}