.benefit-bg {
  background: #2d294e;
  position: absolute;
}
.benefit-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.benefit-title .position {
  top: 84px;
}
.benefit-description {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.features {
  padding-top: 10px;
}
.features li {
  overflow: hidden;
  margin-bottom: 10px;
}
.features li:hover .count span {
  background: #4886ff;
  color: #fff;
}
.features li .count {
  float: left;
  width: 68px;
  /* min-height: 150px; */
  /* background: url(../images/features-bg.svg) center bottom no-repeat; */
}
.features li .count span {
  display: block;
  width: 37px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  margin: auto;
  border: 1px solid #4886ff;
  font-weight: 600;
  font-size: 16px;
  color: #4886ff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.features li .text {
  float: left;
  width: calc(100% - 68px);
  width: -webkit-calc(100% - 68px);
  padding-left: 20px;
}
.features li .text .title {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
  color: #fff;

  margin-bottom: 14px !important;
}
.features li .text p {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 28px;
}

@media(max-width: 426px) {
  .benefit-title {
    font-size: 20px;
    letter-spacing: 0;
  }

  .features {
    padding-left: 0
  }
}