.language-selection .nice-select {
  margin-left: 50px;
  background-color: #f4f7fa;
  border: 0;
  width: 160px;
  height: 50px;
  padding: 0;
  font-size: 18px;
  color: #161c2d;
  font-family: 'CircularStdMedium';
  font-weight: 500;
  float: none;
  border-radius: 50px;
  z-index: 1;
}
.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}
.language-selection .nice-select span.current {
  position: relative;
}

.light-logo {
  color: #ffffff;
}
.header-area {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  display: flex;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo {
  float: left;
  margin-top: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header-area .main-nav .logo img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header-area .main-nav .dark-logo {
  display: none;
}
.header-area .main-nav .nav {
  float: right;
  margin-top: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header-area .main-nav .nav li {
  margin-left: 35px;
}
.header-area .main-nav .nav li a {
  display: block;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 36px;
  line-height: 36px;
  border: transparent;
}
.header-area .main-nav .nav li a:hover {
  color: #f7f8ff;
}
.header-area .main-nav .nav li a.btn-nav-line {
  border: 1px solid #fff;
  width: 140px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header-area .main-nav .nav li a.btn-nav-line:hover {
  background: #fff;
  color: #4886ff;
}
.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}
.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #3b566e;
  display: block;
  position: absolute;
  width: 26px;
  height: 2px;
  left: 0;
}
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #3b566e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}
.header-area .main-nav .menu-trigger span:after {
  width: 22px;
}
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: '';
}
.header-area .main-nav .menu-trigger span {
  top: 16px;
}
.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}
.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}
.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #3b566e;
}
.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #3b566e;
}
.header-area.header-sticky {
  background: #fff;
  height: 80px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
}
.header-area.header-sticky .logo {
  margin-top: 22px;
}
.header-area.header-sticky .light-logo {
  display: none;
}
.header-area.header-sticky .nav {
  margin-top: 20px !important;
}
.header-area.header-sticky .nav li a {
  color: #3b566e;
}
.header-area.header-sticky .nav li a:hover {
  color: #3b566e;
}
.header-area.header-sticky .nav li a.btn-nav-line {
  border: 1px solid #4886ff;
  color: #4886ff;
}
@media (max-width: 320px) {
  .header-area {
    background: none !important;
    height: 80px;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 6%);
  }
}
@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    margin-left: 15px !important;
  }
}

@media (max-width: 991px) {
  .header-area {
    background: none;
    /* height: 80px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06); */
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-top: 22px !important;
    margin-left: 30px;
  }
  .header-area .light-logo {
    display: block !important;
  }
  .header-area .dark-logo {
    display: none !important;
  }
  .mobile-display {
    display: none;
  }
  .header-area .menu-trigger {
    display: block !important;
    left: 300px;
    margin-top: -5px;
  }

  .header-area .main-nav .menu-trigger span:before,
  .header-area .main-nav .menu-trigger span:after {
    content: '';
    background-color: white !important;
  }
  .mobile-display {
    display: block;
  }
  .header-area .main-nav .menu-trigger span,
  .header-area .main-nav .menu-trigger span:before,
  .header-area .main-nav .menu-trigger span:after {
    transition: all 0.4s;
    background-color: white !important;
    display: block;
    position: absolute;
    width: 26px;
    height: 2px;
    left: 0;
  }

  .dropdown {
    display: none !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    margin-top: 80px !important;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    margin-left: 15px !important;
    background: #fff;
    margin: 0px !important;
    border-bottom: 1px solid #f5f5f5;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    padding-left: 30px !important;
    border: none !important;
    background: #fff !important;
    color: #3b566e !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #f5f5f5 !important;
  }
  .header-area .main-nav .nav li a.btn-nav-line {
    border: none !important;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
}
@media (min-width: 992px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}

@media (max-width: 991px) {
  .header-area .menu-trigger {
    display: block !important;
  }
}
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-left: 150px;
  margin-right: -70px;
}
/* .toggleimage{
    padding-left: 100px;
  } */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  margin-left: -90px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.dropdown-content a {
  color: #2d294e !important;
  padding: 12px -16px !important;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
