.welcome-area {
  min-height: 637px;
  height: auto;
  position: relative;
}

.welcome-area .welcome-bg {
  clip-path: polygon(50% 0%, 100% 0, 100% 85%, 78% 100%, 53% 100%, 0 82%, 0 0);
  background-image: linear-gradient(106.94deg, #3f38dd -2.32%, #2d294e 106.53%);
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome-area .welcome-bg:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  /* background-image: linear-gradient(127deg, #384DFF 0%, #24CDFF 91%);  */
  z-index: 3;
}

.welcome-area .welcome-bg:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: none;
  z-index: 6;
}
/* .welcome-area .welcome-bg img {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: -1px;
  left: 0px;
  right: 0px;
  z-index: 5;
} */

.welcome-content h1 {
  font-size: 30px;
}
@media (max-width: 991px) {
  /* body {
    all: initial !important;
  } */
  .welcome-area .welcome-bg {
    clip-path: polygon(80% 0%, 100% 0, 100% 85%, 78% 100%, 53% 100%, 0 82%, 0 0) !important;
    background-image: linear-gradient(106.94deg, #3f38dd -2.32%, #2d294e 106.53%);
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img-second {
    display: none !important;
  }
  .img-first {
    position: relative;
    width: 322px;
    height: 174px;
    top: -20px;
  }
  .img-third {
    position: relative;
    margin-left: 10px !important;
    height: 70px !important;
    top: -60px !important;
    z-index: 1;
    border-radius: 3px;
  }
  .img-four {
    position: relative;
    width: 76.67px;
    height: 115px;
    top: -60px !important;
    left: -9px;
  }
  /* .welcome-area .welcome-bg {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    background-image: linear-gradient(106.94deg, #3f38dd -2.32%, #2d294e 106.53%);
    background-image: linear-gradient(127deg, #384dff 0%, #24cdff 91%);
    z-index: 3;
  } */
}
@media (max-width: 991px) {
  .welcome-area .welcome-content {
    position: relative !important;
    -webkit-transform: translateY(0%) !important;
    transform: translateY(0%) !important;
    padding-top: 100px;
  }
  .welcome-area .welcome-content h1 {
    font-size: 20px !important;
    line-height: 36px !important;
  }
  .welcome-area .welcome-content .apps {
    margin-top: 30px;
  }
  .welcome-area .welcome-content .apps .app-item {
    float: left;
  }
}
.welcome-area .welcome-content {
  position: absolute;
  width: 100%;
  top: 55%;

  left: 0;
  z-index: 11;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.welcome-area .welcome-content h1 {
  font-weight: 400;
  text-align: left !important;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 1.4px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px !important;
}
.welcome-area .welcome-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  left: 0.53px;
  color: #fff;
  margin-bottom: 30px;
}
.welcome-area .welcome-content .apps {
  padding-top: 30px;
}
.welcome-area .welcome-content .apps .app-item {
  display: block;
  float: right;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.welcome-area .welcome-content .apps .app-item:hover {
  margin-top: -10px;
  padding-bottom: 10px;
}
.welcome-area .welcome-content .apps .app-item .icon {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
}
