/* @media (max-width: 991px) {
    .welcome-area .welcome-content {
      position: relative;
      -webkit-transform: translateY(0%) !important;
      transform: translateY(0%) !important;
      padding-top: 100px;
    }
    .welcome-area .welcome-content h1 {
      font-size: 26px !important;
      line-height: 36px !important;
    }
    .welcome-area .welcome-content .apps {
      margin-top: 30px;
    }
    .welcome-area .welcome-content .apps .app-item {
      float: left;
    }
  } */