.testimony-bg {
  padding: 5%;
  background-color: #ededed;
}

.testimony-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #2d2558;
}
.testimony-title .position {
  margin-left: 100px;
}

.eli {
  font-size: 20px;
  margin-top: 20px;
}
.carousel-item span img {
  display: block;
  -moz-border-radius: 60px; /* or 50% */
  border-radius: 60px; /* or 50% */
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2em;
  height: 360px;
  width: 360px;
  line-height: 60px;
}
.clip-circle {
  /*clip-path: circle(110px at center);*/
  border: 2px solid #2d294e;
  padding: 5px;
  border-radius: 50%;
  box-sizing: border-box;
}
/* .carousel-inner {
  border-radius: 50%;
 
} */
.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}
.align-self-left {
  -ms-flex-item-align: left !important;
  align-self: left !important;
}
.align-self-bottom {
  -ms-flex-item-align: flex-end !important;
  align-self: flex-end !important;
}

@media(max-width: 426px) {
  .testimony-title {
    font-size: 22px;
  }

  .defipaytext2 p{
    font-size: 18px;
  }
}
